// Include any default variable overrides here (though functions won't be available)
$primary: black;
$gray: #E6E6E6;
$red: #d4401d;


$theme-colors:(
  "primary": $primary,
  "gray": $gray,
  "red": $red,
);

// Create your own map
$custome-color: (
  "icon-background":rgb(127, 24, 127, 0.2),
);

// Merge maps
$theme-colors: map-merge($theme-colors, $custome-color);

$utilities: (
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: 1rem,
      circle: 50%,
    )
  )
);






@import "./bootstrap/scss/bootstrap";


// Then add additional custom code here




/****************HEADER************************/
.announcement-bar{
  font-size: 0.8rem;
  // border-bottom: 1px solid var(--bs-gray) ;
  background-color: $red;
  color: white;
  padding: 5px 0px;
  a{
    color:white
  }
  

  &__list{
    display: inline-flex;
    list-style-type: none;
    margin: 0 -10px;
    padding-left: 0;
    opacity: 0.8;
    text-decoration: none;
    li{
      display: inline-flex;
      align-items: center;
      a{
        text-decoration: none;
      }
    }
    
    &__text{
      padding: 0 10px;
      border-right: 1px solid var(--bs-gray);
      .bi{
        width: 20px;
      }
    }
    ul.sns{
      margin-left: 10px;
      padding-left: 0px;
    }
    &__sns{
      margin: 0 3px;
    }
  }

  // &__list {
  //   padding:0px;
  //   margin: 0 -10px;
  //   list-style-type: none;
  //   display: inline-flex;
  //   margin:0;
  //   li{
  //     margin: 0 10px;
  //     display: flex;
  //     align-items: center;

  //     .bi {
  //       display: inline-flex;
  //       justify-content: center;
  //       align-items: center;
  //       width: 30px;
  //       height: 30px;
  //       margin-right: 6px;
  //     }
  //   }
  // }
  .right{
    display: flex;
    justify-content: end;
  }
  @include media-breakpoint-down(lg){
    display: none;
  }
}


.site-header{
  .aws-search-field{
    font-size: 0.9rem;
    padding-left: 1.4rem;
    border-radius: 20px!important;
  }
}


/* Main Menu */
.main-navigation {
  font-weight: 600;

  a{
    color: black;
    padding: 0.3rem 1.0rem;
  }

  a:hover{
    background-color: rgb(243, 243, 243);
  }

  .menu-toggle{
    background-color: $gray;
    color:black;
    border:none;
  }
}

/**************** FRONT PAGE ************************/






/**************** SLIDER ************************/
.carousel{
  .carousel-control-prev, .carousel-control-next{
    width: 9%;
  }
}

/**************** CATEGORIES ************************/
// b{
//   height: 3px;
//   display: block;
//   font-weight: bolder;
//   opacity: .1;
//   background-color: currentColor;
//   flex: 1;
  
// }
.newArrivals{
  a{
    text-decoration: none;
  }
}

.categories{
  // padding-top: 10px;
  &__row{
    &__col{
      
      // height: auto;
      // img{
        //   height: 147px;
        //   width: 280px;
        //   object-fit: cover;
        // }
        .image-trim{
          position: relative;
          // overflow: hidden;
          padding-top: 60%;
          height: 150px;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
            // top: 300px;
            // left: 50%;
            // object-fit: cover;
        }
      }
    }
    h2{
      font-size: 20px;
      opacity: .8;
      padding-top: 15px;
    }
  }

  // @include media-breakpoint-up(md){
  //   .categories__col{
  //    height: 336px;
  //   }
  // }
}

/**************** FOOTER ************************/
.site-footer{
  a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 0 8px;
  }
  h1{
    font-size: 19px;
    color: white;
    opacity: .6;
  }
}



/**************** SIDEBAR ************************/



.wp-block-woocommerce-product-categories{
  margin-top: 48px;
  text-align: left;
  border: 1px solid rgb(0, 0, 0,.4) ;
  padding: 10px 0px 10px 0px;
  .wc-block-product-categories-list--depth-0{
    
    padding-right: 32px;
    opacity: 0.8;
    margin-left:0;
    ul{
      border: 10px;
      border-color: black;
    }
    span{
      font-size: 25px;
      color: black;
    }
    li{
      list-style-type: none;
      margin-top: 20px;
    } 
    a{
      text-decoration: none;
      
    }
    .wc-block-product-categories-list-item{
      li{
        border-bottom: 1px solid;
      }
      .wc-block-product-categories-list--depth-1{
        padding: 0;
        margin: 0;
        span{
          font-size: 20px;
        }
      }
    }
  }
}



/**************** PAGE ************************/


.entry-content{
  margin-top: 48px;
}

/**************** DELETE WOOCOMMERCE TEMPLATES DIV ************************/


// .woocommerce-tabs.wc-tabs-wrapper{
//   display: none;
// }
